[submodule "deps/closure-library"]
	path = deps/closure-library
	url = git://github.com/jarib/google-closure-library.git
[submodule "deps/easel"]
	path = deps/easel
	url = git://github.com/thinkpixellab/EaselJS.git
[submodule "tools"]
	path = tools
	url = git://github.com/thinkpixellab/google-closure-tools.git
